.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
  transition: transform 0.15s ease-out;
  filter: brightness(1.1) contrast(1.2);
}
